.heart {
  position: fixed;
  font-size: 1.5rem;
  top: -1vh;
  transform: translateY(0);
  animation: fall 3s linear forwards;
}

@keyframes fall {
  from {
    transform: translateY(0vh) translateX(-10vw);
  }

  to {
    transform: translateY(105vh) translateX(10vw);
  }
}

/* AUDIO PLAYER */
.custom-audio-player {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  background-color: pink;
  border-radius: 50px;
  padding: 0 15px;
  margin-bottom: 20px;
}

button.play-pause-btn {
  background-color: transparent !important;
  margin: 0 !important;
  width: 50px;
}


.progress-bar, .form-control {
  background-color: white !important;
  padding: 0 !important;
  width: 150px !important;
  appearance: auto !important;
}

.volume-slider {
  width: 100px;
}
